<p>You wrote: <%= @word_count %> words.</p>
<br>
<p>
	Original input:
	<br>
	<%= @text %>
</p>
<br>
<%= @conclusion %>

<p>Return to <%= link_to 'Home', home_path %></p>
<br>
<p>
	The 10 most frequent words in this text are:
	<br>
	<%= @most_frequent_words %>
</p>